<div class="container">

    <div class="row align-items-center" data-aos="fade-up" data-aos-duration="1000">

        <div class="col-lg-7 col-sm-1">
            <p class="gy-auto fs-4">
                El mundo no deja de evolucionar y con ellos las empresas, eso quiere decir que la forma en la que llegas a tus clientes tiene que actualizarse, mostrarles todo su inventario de productos de una manera fácil y cómoda y todo lo que su negocio puede llegar a hacer, internamente una buena administración para verificar y analizar todos los procesos, por ultimo tenemos que tener el cuenta que la inmensa mayoría de las personas estamos en nuestros teléfonos celulares estas vigente siempre en el móvil nunca va mal.
            </p>
        </div>
    
        <div class="col-lg-5 col-sm-1">
            <img class="img-fluid quitarZoom" src="assets/imagenes-imsoft/isotipo-imsoft-azul.webp" routerLink="/servicios" height="540px" width="540px" alt="imSoft - Desarrollo de software - Desarrollo de sitios web - Desarrollo de aplicaciones móviles - Desarrollo de páginas web - seo">
        </div>

    </div>

    <div class="row gx-5 gy-4" data-aos="fade-up" data-aos-duration="1000">

        <div class="col-sm">
            <h2>Misión</h2>
            <p class="fs-5">
                Ser el apoyo tecnológico que llevara a las empresas al siguiente nivel, haciendo que el software mejore sus procesos de trabajo e interacción.
            </p>
        </div>

        <div class="col-sm">
            <h2>Visión</h2>
            <p class="fs-5">
                Hacer de imSoft una de las empresas lideres en México, dando cada vez mejores soluciones en base al desarrollo de software para dar a conocer a la empresa y mejorar sus procesos.
            </p>
        </div>

        <div class="col-sm">
            <h2>Valores</h2>
            <ul class="list-group ms-4">
                <li class="fs-5">Honestidad</li>
                <li class="fs-5">Puntualidad</li>
                <li class="fs-5">Respeto</li>
                <li class="fs-5">Responsabilidad</li>
                <li class="fs-5">Transparencia</li>
            </ul>
        </div>

    </div>


</div>