<div class="container">
    
    <h1 class="mt-4">Aviso de privacidad integral</h1>
    <br>
    
    <p>
        imSoft mejor conocido como imSoft, con domicilio en Cipriano Campos Ala Torre #752 interior #104 y portal de internet https://imsoft.com.mx/, es el responsable del uso y protección de sus datos personales, y al respecto le informamos lo siguiente:
    </p>
    
    <br>
    
    <p class="fw-bold">¿Para qué fines utilizaremos sus datos personales?</p> <br>
    
    <p>
        Los datos personales que recabamos de usted, los utilizaremos para las siguientes finalidades que son necesarias para el servicio que solicita:
        Respuesta a mensajes del formulario de contacto, Prestación de cualquier servicio solicitado
    </p>
    
    <br>
    
    <p class="fw-bold">¿Qué datos personales utilizaremos para estos fines?</p> <br>
    
    <p>
        Para llevar a cabo las finalidades descritas en el presente aviso de privacidad, utilizaremos los siguientes datos personales:
        Datos de identificación y contacto, Datos laborales
    </p>

    <br>
    
    <p class="fw-bold">¿Cómo puede acceder, rectificar o cancelar sus datos personales, u oponerse a su uso o ejercer la revocación de consentimiento?</p> <br>
    
    <p>
        Usted tiene derecho a conocer qué datos personales tenemos de usted, para qué los utilizamos y las condiciones del uso que les damos (Acceso). Asimismo, es su derecho solicitar la corrección de su información personal en caso de que esté desactualizada, sea inexacta o incompleta (Rectificación); que la eliminemos de nuestros registros o bases de datos cuando considere que la misma no está siendo utilizada adecuadamente (Cancelación); así como oponerse al uso de sus datos personales para fines específicos (Oposición). Estos derechos se conocen como derechos ARCO.
        Para el ejercicio de cualquiera de los derechos ARCO, debe enviar una petición vía correo electrónico a contacto@imsoft.com.mx y deberá contener:
    </p>
        <ul>
            <li>Nombre completo del titular</li>
            <li>Domicilio</li>
            <li>Teléfono</li>
            <li>Correo electrónico usado en este sitio web</li>
            <li>Copia de una identificación oficial adjunta</li>
            <li>Asunto «Derechos ARCO»</li>
        </ul>
    <p>
        Descripción el objeto del escrito, los cuales pueden ser de manera enunciativa más no limitativa los siguientes: Revocación del consentimiento para tratar sus datos personales; y/o Notificación del uso indebido del tratamiento de sus datos personales; y/o Ejercitar sus Derechos ARCO, con una descripción clara y precisa de los datos a Acceder, Rectificar, Cancelar o bien, Oponerse. En caso de Rectificación de datos personales, deberá indicar la modificación exacta y anexar la documentación soporte; es importante en caso de revocación del consentimiento, que tenga en cuenta que no en todos los casos podremos atender su solicitud o concluir el uso de forma inmediata, ya que es posible que por alguna obligación legal requiramos seguir tratando sus datos personales. Asimismo, usted deberá considerar que para ciertos fines, la revocación de su consentimiento implicará que no le podamos seguir prestando el servicio que nos solicitó, o la conclusión de su relación con nosotros.
    </p>

    <br>

    <p class="fw-bold">¿En cuántos días le daremos respuesta a su solicitud?</p> <br>

    <p>
        10 días
    </p> 

    <br>
    
    <p class="fw-bold">¿Por qué medio le comunicaremos la respuesta a su solicitud?</p> <br>
    
    <p>    
        Al mismo correo electrónico de donde se envío la petición.
    </p>

    <br>

    <p>
        El uso de tecnologías de rastreo en nuestro portal de internet
        Le informamos que en nuestra página de internet utilizamos cookies, web beacons u otras tecnologías, a través de las cuales es posible monitorear su comportamiento como usuario de internet, así como brindarle un mejor servicio y experiencia al navegar en nuestra página. Los datos personales que obtenemos de estas tecnologías de rastreo son los siguientes:
        Identificadores, nombre de usuario y contraseñas de sesión
        Estas cookies, web beacons y otras tecnologías pueden ser deshabilitadas. Para conocer cómo hacerlo, consulte el menú de ayuda de su navegador. Tenga en cuenta que, en caso de desactivar las cookies, es posible que no pueda acceder a ciertas funciones personalizadas en nuestros sitio web. <br><br>
    </p>

    <p class="fw-bold">¿Cómo puede conocer los cambios en este aviso de privacidad?</p> <br>
    
    <p>
        El presente aviso de privacidad puede sufrir modificaciones, cambios o actualizaciones derivadas de nuevos requerimientos legales; de nuestras propias necesidades por los productos o servicios que ofrecemos; de nuestras prácticas de privacidad; de cambios en nuestro modelo de negocio, o por otras causas. Nos comprometemos a mantener actualizado este aviso de privacidad sobre los cambios que pueda sufrir y siempre podrá consultar las actualizaciones que existan en el sitio web https://imsoft.com.mx/.
    </p>
    
    <br>

    <p>
        Última actualización de este aviso de privacidad: <span class="fw-bold">13/12/2021</span>
    </p>

</div>