<div class="container">

    <div class="row mt-3">

        <div class="col-sm" data-aos="fade-up" data-aos-duration="1000">
            
            <h1>
                <strong>im</strong>prove <strong>Soft</strong>ware
            </h1>

            <br>

            <h2>
                Somos una empresa de desarrollo de software ubicada en Jalisco, México,
                donde nos preocupamos por nuestro cliente y su interacción con sus clientes.
            </h2>

            <br>
            
            <h3>
                <p>Nosotros mejoramos tu negocio con:</p>
                <ul>
                    <li class="mb-3 quitarZoom" routerLink="/servicios/desarrollo-de-software">✓ Desarrollo de Software</li>
                    <li class="mb-3 quitarZoom" routerLink="/servicios/sitios-web">✓ Sitios web</li>
                    <li class="mb-3 quitarZoom" routerLink="/servicios/aplicaciones-web">✓ Aplicaciones web</li>
                    <li class="mb-3 quitarZoom" routerLink="/servicios/aplicaciones-moviles">✓ Aplicaciones móviles</li>
                    <li class="mb-3 quitarZoom" routerLink="/servicios/tienda-en-linea">✓ Tienda en línea</li>
                    <li class="mb-3 quitarZoom" routerLink="/servicios/seo">✓ SEO</li>
                </ul>
            </h3>

        </div>

        <div class="col-sm my-auto" data-aos="fade-up" data-aos-duration="1000">
            <div id="carousel" class="carousel slide" data-bs-ride="carousel">
                
                <div class="carousel-inner">
                    
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="assets/mockups/tablet-mockup-aplicacion-web.webp" class="d-block w-100" alt="aplicaciones web">
                    </div>

                    <div class="carousel-item active" data-bs-interval="2000">
                        <img src="assets/mockups/laptop-mockup-sitio-web.webp" class="d-block w-100" alt="sitio web">
                    </div>
                    
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="assets/mockups/mobile-mockup-aplicacion-movil.webp" class="d-block w-100" alt="aplicaciones moviles">
                    </div>

                </div>

            </div>
        </div>

    </div>

    <div class="row mt-3">
        
        <h2 class="text-center mb-5 fs-1" data-aos="fade-up" data-aos-duration="1000">Conoce nuestros servicios</h2>
        
        <div class="col-lg-4 col-sm-6 d-flex justify-content-center" data-aos="fade-up" data-aos-duration="1000">
            <div class="card shadow p-3 mb-5 bg-body rounded border-0 quitarZoom" style="width: 20rem;">
                <img src="assets/servicios/desarrollo-de-software.webp" class="card-img-top" alt="desarrollo de software">
                <div class="card-body">
                  <h5 class="card-title">Desarrollo de software</h5>
                  <p class="card-text">Hoy en día es inevitable querer tener una empresa y no pensar en el software.</p>
                  <a class="btn btn-primary float-end border-0 quitarZoom" routerLink="/servicios/desarrollo-de-software">Conoce más</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-sm-6 d-flex justify-content-center" data-aos="fade-up" data-aos-duration="1000">
            <div class="card shadow p-3 mb-5 bg-body rounded border-0 quitarZoom" style="width: 20rem;">
                <img src="assets/servicios/sitios-web.webp" class="card-img-top" alt="sitios web">
                <div class="card-body">
                    <h5 class="card-title">Sitios web</h5>
                    <p class="card-text">Imagina un sinfín de personas conociendo tu producto o servicio 24 / 7.</p>
                    <a class="btn btn-primary float-end border-0 quitarZoom" routerLink="/servicios/sitios-web">Conoce más</a>
                </div>
              </div>
        </div>
    
        <div class="col-lg-4 col-sm-6 d-flex justify-content-center" data-aos="fade-up" data-aos-duration="1000">
            <div class="card shadow p-3 mb-5 bg-body rounded border-0 quitarZoom" style="width: 20rem;">
                <img src="assets/servicios/aplicaciones-web.webp" class="card-img-top" alt="aplicaciones web">
                <div class="card-body">
                    <h5 class="card-title">Aplicaciones web</h5>
                    <p class="card-text">Facilitemos el trabajo colaborativo y a distancia, desde cualquier dispositivo.</p>
                    <a class="btn btn-primary float-end border-0 quitarZoom" routerLink="/servicios/aplicaciones-web">Conoce más</a>
                </div>
            </div>
        </div>
    
        <div class="col-lg-4 col-sm-6 d-flex justify-content-center" data-aos="fade-up" data-aos-duration="1000">
            <div class="card shadow p-3 mb-5 bg-body rounded border-0 quitarZoom" style="width: 20rem;">
                <img src="assets/servicios/aplicaciones-moviles.webp" class="card-img-top" alt="aplicaciones moviles">
                <div class="card-body">
                    <h5 class="card-title">Aplicaciones móviles</h5>
                    <p class="card-text">Las aplicaciones móviles no tienen limites, eso abre las puertas a innovar y mejorar su empresa.</p>
                    <a class="btn btn-primary float-end border-0 quitarZoom" routerLink="/servicios/aplicaciones-moviles">Conoce más</a>
                </div>
            </div>
        </div>
    
        <div class="col-lg-4 col-sm-6 d-flex justify-content-center" data-aos="fade-up" data-aos-duration="1000">
            <div class="card shadow p-3 mb-5 bg-body rounded border-0 quitarZoom" style="width: 20rem;">
                <img src="assets/servicios/tienda-en-linea.webp" class="card-img-top" alt="tienda en linea, ecommerce">
                <div class="card-body">
                    <h5 class="card-title">Tienda en línea</h5>
                    <p class="card-text">Puedes estar abierto al público las 24 hrs a diferencia de cualquier tienda física.</p>
                    <a class="btn btn-primary float-end border-0 quitarZoom" routerLink="/servicios/tienda-en-linea">Conoce más</a>
                </div>
            </div>
        </div>
    
        <div class="col-lg-4 col-sm-6 d-flex justify-content-center" data-aos="fade-up" data-aos-duration="1000">
            <div class="card shadow p-3 mb-5 bg-body rounded border-0 quitarZoom" style="width: 20rem;">
                <img src="assets/servicios/seo.webp" class="card-img-top" alt="seo">
                <div class="card-body">
                    <h5 class="card-title">SEO</h5>
                    <p class="card-text">Posicionar tu web en los primeros lugares de Google, te ayudara a darte a conocer más rápido.</p>
                    <a class="btn btn-primary float-end border-0 quitarZoom" routerLink="/servicios/seo">Conoce más</a>
                </div>
            </div>
        </div>

    </div>

    <div class="row mt-3 text-center">
        <h2 class="mb-5 fs-1" data-aos="fade-up" data-aos-duration="1000">Tecnologías que utilizamos</h2>
        <div id="carousel" class="carousel slide" data-bs-ride="carousel">
                
            <div class="carousel-inner" data-aos="fade-up" data-aos-duration="1000">
                
                <div class="carousel-item active" data-bs-interval="2000">

                    <div class="row">

                        <div class="col">
                            <img src="assets/tecnologias/html5-logo-sitio-web.webp" class="w-25" alt="html5, sitios web">
                        </div>
                        
                        <div class="col">
                            <img src="assets/tecnologias/css3-logo-sitio-web.webp" class="w-25" alt="css3, sitios web">
                        </div>

                        <div class="col">
                            <img src="assets/tecnologias/javascript-logo-sitio-web.webp" class="w-25" alt="javascript, sitios web">
                        </div>

                    </div>

                </div>

                <div class="carousel-item" data-bs-interval="2000">

                    <div class="row">

                        <div class="col">
                            <img src="assets/tecnologias/android-studio-logo-aplicaciones-android.webp" class="w-25" alt="android studio, aplicaciones moviles android">
                        </div>
                        
                        <div class="col">
                            <img src="assets/tecnologias/xcode-logo-aplicaciones-ios.webp" class="w-25" alt="xcode, aplicaciones moviles ios">
                        </div>

                        <div class="col">
                            <img src="assets/tecnologias/flutter-logo-aplicaciones-moviles.webp" class="w-25" alt="flutter, aplicaciones moviles">
                        </div>

                    </div>

                </div>

                <div class="carousel-item" data-bs-interval="2000">

                    <div class="row">

                        <div class="col">
                            <img src="assets/tecnologias/nodejs-logo-backend.webp" class="w-25" alt="nodejs, backend">
                        </div>
                        
                        <div class="col">
                            <img src="assets/tecnologias/mongodb-logo-base-de-datos.webp" class="w-25" alt="mongodb, base de datos">
                        </div>

                        <div class="col">
                            <img src="assets/tecnologias/digital-ocean-logo-servidor.webp" class="w-25" alt="digital ocean, servidor">
                        </div>

                    </div>

                </div>

                <div class="carousel-item" data-bs-interval="2000">

                    <div class="row">

                        <div class="col">
                            <img src="assets/tecnologias/angular-logo-sitio-web.webp" class="w-25" alt="angular, sitio web">
                        </div>
                        
                        <div class="col">
                            <img src="assets/tecnologias/typescript-logo-sitio-web.webp" class="w-25" alt="typescript, sitio web">
                        </div>

                        <div class="col">
                            <img src="assets/tecnologias/visual-studio-code-logo-editor-de-codigo.webp" class="w-25" alt="visual studio code, editor de codigo">
                        </div>

                    </div>

                </div>

                <div class="carousel-item" data-bs-interval="2000">

                    <div class="row">

                        <div class="col">
                            <img src="assets/tecnologias/git-logo-repositorios.webp" class="w-25" alt="git, repositorio">
                        </div>
                        
                        <div class="col">
                            <img src="assets/tecnologias/github-logo-repositorios.webp" class="w-25" alt="github, repositorios">
                        </div>

                        <div class="col">
                            <img src="assets/tecnologias/postman-logo-backend.webp" class="w-25" alt="postman, backend">
                        </div>

                    </div>

                </div>

                <div class="carousel-item" data-bs-interval="2000">

                    <div class="row">

                        <div class="col">
                            <img src="assets/tecnologias/Stripe-logo-pasarela-de-pagos.webp" class="w-25" alt="stripe, pasarela de pagos">
                        </div>
                        
                        <div class="col">
                            <img src="assets/tecnologias/photoshop-logo-diseño-grafico.webp" class="w-25" alt="photoshop, diseño grafico">
                        </div>

                        <div class="col">
                            <img src="assets/tecnologias/illustrator-logo-diseño-web.webp" class="w-25" alt="illustrator, diseño web">
                        </div>

                    </div>

                </div>

                <div class="carousel-item" data-bs-interval="2000">

                    <div class="row">

                        <div class="col">
                            <img src="assets/tecnologias/google-adwords-logo-seo.webp" class="w-25" alt="google adwords, seo">
                        </div>
                        
                        <div class="col">
                            <img src="assets/tecnologias/google-analytics-logo-seo.webp" class="w-25" alt="google analytics, seo">
                        </div>

                        <div class="col">
                            <img src="assets/tecnologias/google-search-console-logo-seo.webp" class="w-25" alt="google search console, seo">
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>

    <br>

</div>