<div id="aplicacionesMoviles" class="container col-xxl-8 px-4">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5" data-aos="fade-up" data-aos-duration="1000">
      <div class="col">
        <img src="assets/servicios/aplicaciones-moviles.webp" class="d-block mx-lg-auto img-fluid" alt="aplicaciones moviles" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Aplicaciones móviles</h1>
        <p class="lead">Desarrollamos aplicaciones móviles que ayudan a las empresas a mejorar la eficiencia operativa y el compromiso. Contáctenos para brindarle el mejor servicio de desarrollo de aplicaciones multiplataforma, iOS y Android.</p>
        <p class="lead">Enviamos experiencias ricas a las pantallas pequeñas, lo que se traduce en el éxito de su negocio, la facilidad de las operaciones y el compromiso de los consumidores con nuestro conocimiento excepcionalmente profundo de la experiencia del usuario y la tecnología móvil. Trabajamos con múltiples ecosistemas para crear el máximo impacto en sus usuarios finales.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a type="button" class="btn btn-lg px-4 me-md-2 quitarZoom" href="https://wa.me/+5213325365558?text=Vengo%20de%20su%20sitio%20web,%20me%20interesa%20conocer%20más%20sobre%20imSoft.">Contáctanos</a>
        </div>
      </div>
    </div>
</div>

<div class="container px-4 py-5" id="featured-3">
    
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3" data-aos="fade-up" data-aos-duration="1000">

        <div class="feature col">
          
          <div class="icono-descriptivo bg-azul-imsoft bg-gradient">
            <i class="bi bi-person-bounding-box"></i>
          </div>
          
          <h2>Siempre presente</h2>
          
          <p>Una de las ventajas más importantes de contar una aplicación es que al estar instalados en los celulares estamos generando un recuerdo permanente de nuestra empresa.</p>
          
          <a class="btn btn-primary float-start border-0 quitarZoom" href="https://wa.me/+5213325365558?text=Vengo%20de%20su%20sitio%20web,%20me%20interesa%20conocer%20más%20sobre%20imSoft.">Contáctanos</a>
  
        </div>
  
        <div class="feature col">
          
          <div class="icono-descriptivo bg-azul-imsoft bg-gradient">
            <i class="bi bi-wifi-off"></i>
          </div>
          
          <h2>Disponibilidad offline</h2>
          
          <p>No siempre tenemos acceso a Internet en todo momento. Una aplicación móvil permitirá que tus clientes puedan navegar por el catálogo de tus productos y promociones en cualquier momento.</p>
          
          <a class="btn btn-primary float-start border-0 quitarZoom" href="https://wa.me/+5213325365558?text=Vengo%20de%20su%20sitio%20web,%20me%20interesa%20conocer%20más%20sobre%20imSoft.">Contáctanos</a>
  
        </div>
        
        <div class="feature col">
          
          <div class="icono-descriptivo bg-azul-imsoft bg-gradient">
            <i class="bi bi-hand-index"></i>
          </div>
          
          <h2>Usabilidad</h2>
          
          <p>Quizás tu negocio físico cierre a las 7 de la tarde, pero gracias a tu aplicación el cliente podrá acceder a tus servicios y/o productos cuando le sea más fácil o el tiempo se lo permita.</p>
          
          <a class="btn btn-primary float-start border-0 quitarZoom" href="https://wa.me/+5213325365558?text=Vengo%20de%20su%20sitio%20web,%20me%20interesa%20conocer%20más%20sobre%20imSoft.">Contáctanos</a>
          
        </div>
  
      </div>

      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3" data-aos="fade-up" data-aos-duration="1000">

        <div class="feature col">
          
          <div class="icono-descriptivo bg-azul-imsoft bg-gradient">
            <i class="bi bi-award"></i>
          </div>
          
          <h2>Branding o marca</h2>
          
          <p>Crear una aplicación para tu negocio puede ser esencial para dar a conocer tu marca. Tener una aplicación bien desarrollada mejora la interacción con tu público objetivo y genera confianza.</p>
          
          <a class="btn btn-primary float-start border-0 quitarZoom" href="https://wa.me/+5213325365558?text=Vengo%20de%20su%20sitio%20web,%20me%20interesa%20conocer%20más%20sobre%20imSoft.">Contáctanos</a>
  
        </div>
  
        <div class="feature col">
          
          <div class="icono-descriptivo bg-azul-imsoft bg-gradient">
            <i class="bi bi-bag-check"></i>
          </div>
          
          <h2>Ventajas competitivas</h2>
          
          <p>Una aplicación exclusiva para tu negocio puede ser la forma más efectiva de diferenciarte. Además de promocionar tu marca, puedes destacar entre tu principal competencia.</p>
          
          <a class="btn btn-primary float-start border-0 quitarZoom" href="https://wa.me/+5213325365558?text=Vengo%20de%20su%20sitio%20web,%20me%20interesa%20conocer%20más%20sobre%20imSoft.">Contáctanos</a>
  
        </div>
        
        <div class="feature col">
          
          <div class="icono-descriptivo bg-azul-imsoft bg-gradient">
            <i class="bi bi-people"></i>
          </div>
          
          <h2>Trabajemos juntos</h2>
          
          <p>Platícanos de tu idea para poder darle el siguiente paso a tu negocio y así tener más ventas e interacción con tus clientes, dándoles la atención que se merecen para lograr que regresen.</p>
          
          <a class="btn btn-primary float-start border-0 quitarZoom" href="https://wa.me/+5213325365558?text=Vengo%20de%20su%20sitio%20web,%20me%20interesa%20conocer%20más%20sobre%20imSoft.">Contáctanos</a>
          
        </div>
  
    </div>

    <div class="row mt-3 text-center">
        <h2 class="my-5 fs-1" data-aos="fade-up" data-aos-duration="1000">Tecnologías que utilizamos para las aplicaciones móviles</h2>
        <div id="carousel" class="carousel slide" data-bs-ride="carousel">
                
            <div class="carousel-inner" data-aos="fade-up" data-aos-duration="1000">
                
                <div class="carousel-item active" data-bs-interval="2000">

                    <div class="row">

                        <div class="col">
                            <img src="assets/tecnologias/android-studio-logo-aplicaciones-android.webp" class="w-25" alt="android studio, aplicaciones moviles android">
                        </div>
                        
                        <div class="col">
                            <img src="assets/tecnologias/xcode-logo-aplicaciones-ios.webp" class="w-25" alt="xcode, aplicaciones moviles ios">
                        </div>

                        <div class="col">
                            <img src="assets/tecnologias/flutter-logo-aplicaciones-moviles.webp" class="w-25" alt="flutter, aplicaciones moviles">
                        </div>

                    </div>

                </div>

                <div class="carousel-item" data-bs-interval="2000">

                    <div class="row">

                        <div class="col">
                            <img src="assets/tecnologias/nodejs-logo-backend.webp" class="w-25" alt="nodejs, backend">
                        </div>
                        
                        <div class="col">
                            <img src="assets/tecnologias/mongodb-logo-base-de-datos.webp" class="w-25" alt="mongodb, base de datos">
                        </div>

                        <div class="col">
                            <img src="assets/tecnologias/digital-ocean-logo-servidor.webp" class="w-25" alt="digital ocean, servidor">
                        </div>

                    </div>

                </div>

                <div class="carousel-item" data-bs-interval="2000">

                    <div class="row">

                        <div class="col">
                            <img src="assets/tecnologias/git-logo-repositorios.webp" class="w-25" alt="git, repositorio">
                        </div>
                        
                        <div class="col">
                            <img src="assets/tecnologias/github-logo-repositorios.webp" class="w-25" alt="github, repositorios">
                        </div>

                        <div class="col">
                            <img src="assets/tecnologias/postman-logo-backend.webp" class="w-25" alt="postman, backend">
                        </div>

                    </div>

                </div>

                <div class="carousel-item" data-bs-interval="2000">

                    <div class="row">

                        <div class="col">
                            <img src="assets/tecnologias/Stripe-logo-pasarela-de-pagos.webp" class="w-25" alt="stripe, pasarela de pagos">
                        </div>
                        
                        <div class="col">
                            <img src="assets/tecnologias/photoshop-logo-diseño-grafico.webp" class="w-25" alt="photoshop, diseño grafico">
                        </div>

                        <div class="col">
                            <img src="assets/tecnologias/illustrator-logo-diseño-web.webp" class="w-25" alt="illustrator, diseño web">
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>