<div id="desarrolloDeSoftware" class="container col-xxl-8 px-4">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5" data-aos="fade-up" data-aos-duration="1000">
      <div class="col">
        <img src="assets/servicios/desarrollo-de-software.webp" class="d-block mx-lg-auto img-fluid" alt="desarrollo de software" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Desarrollo de software</h1>
        <p class="lead">No importa si es una gran empresa o una empresa nueva, un propietario único o una persona que busca mejorar su empresa con software, imSoft tiene las soluciones de diseño y desarrollo de software para usted.</p>
        <p class="lead">imSoft se enorgullece de atender las necesidades de diseño y desarrollo web de los clientes en el área de Guadalajara, Tlaquepaque, Tonalá, Zapopan y toda la republica Mexicana.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a type="button" class="btn btn-lg px-4 me-md-2 quitarZoom" routerLink="/servicios/desarrollo-de-software">Conoce más</a>
        </div>
      </div>
    </div>
</div>

<div class="container px-4 py-5" id="featured-3">
    
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3" data-aos="fade-up" data-aos-duration="1000">

        <div class="feature col">
          
          <div class="icono-descriptivo bg-azul-imsoft bg-gradient">
            <i class="bi bi-clock"></i>
          </div>
          
          <h2>Ahorro de tiempo</h2>
          
          <p>El software, en cuestión de segundos o minutos, realizan procesos que podrían haber durado semanas o meses manualmente. </p>
          
          <a class="btn btn-primary float-start border-0 quitarZoom" href="https://wa.me/+5213325365558?text=Vengo%20de%20su%20sitio%20web,%20me%20interesa%20conocer%20más%20sobre%20imSoft.">Contáctanos</a>
  
        </div>
  
        <div class="feature col">
          
          <div class="icono-descriptivo bg-azul-imsoft bg-gradient">
            <i class="bi bi-shield-check"></i>
          </div>
          
          <h2>Garantía de calidad</h2>
          
          <p>Dado que estos programas rara vez cometen errores se consideran fiables y consistentes a la hora de producir resultados.</p>
          
          <a class="btn btn-primary float-start border-0 quitarZoom" href="https://wa.me/+5213325365558?text=Vengo%20de%20su%20sitio%20web,%20me%20interesa%20conocer%20más%20sobre%20imSoft.">Contáctanos</a>
  
        </div>
        
        <div class="feature col">
          
          <div class="icono-descriptivo bg-azul-imsoft bg-gradient">
            <i class="bi bi-tools"></i>
          </div>
          
          <h2>Soporte</h2>
          
          <p>Nuestro soporte técnico, actualizará y mejorara los procesos que puedas encontrar se resuelven de una manera eficiente.</p>
          
          <a class="btn btn-primary float-start border-0 quitarZoom" href="https://wa.me/+5213325365558?text=Vengo%20de%20su%20sitio%20web,%20me%20interesa%20conocer%20más%20sobre%20imSoft.">Contáctanos</a>
          
        </div>
  
      </div>

      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3" data-aos="fade-up" data-aos-duration="1000">

        <div class="feature col">
          
          <div class="icono-descriptivo bg-azul-imsoft bg-gradient">
            <i class="bi bi-intersect"></i>
          </div>
          
          <h2>Unificar herramientas</h2>
          
          <p>Cada negocio es único, tener un software hecho a medida para satisfacer la gran mayoría de los requisitos internos puede fortalecer su modelo de trabajo.</p>
          
          <a class="btn btn-primary float-start border-0 quitarZoom" href="https://wa.me/+5213325365558?text=Vengo%20de%20su%20sitio%20web,%20me%20interesa%20conocer%20más%20sobre%20imSoft.">Contáctanos</a>
  
        </div>
  
        <div class="feature col">
          
          <div class="icono-descriptivo bg-azul-imsoft bg-gradient">
            <i class="bi bi-brush"></i>
          </div>
          
          <h2>Personalización</h2>
          
          <p>El desarrollo de software a la medida, implica contar con un diseño personalizado para la empresa: desde elementos gráficos, colores, estilos y tipografías.</p>
          
          <a class="btn btn-primary float-start border-0 quitarZoom" href="https://wa.me/+5213325365558?text=Vengo%20de%20su%20sitio%20web,%20me%20interesa%20conocer%20más%20sobre%20imSoft.">Contáctanos</a>
  
        </div>
        
        <div class="feature col">
          
          <div class="icono-descriptivo bg-azul-imsoft bg-gradient">
            <i class="bi bi-people"></i>
          </div>
          
          <h2>Trabajemos juntos</h2>
          
          <p>Platícanos de tu idea para poder darle el siguiente paso a tu negocio y así tener más ventas e interacción con tus clientes.</p>
          
          <a class="btn btn-primary float-start border-0 quitarZoom" href="https://wa.me/+5213325365558?text=Vengo%20de%20su%20sitio%20web,%20me%20interesa%20conocer%20más%20sobre%20imSoft.">Contáctanos</a>
          
        </div>
  
    </div>

    <div class="row mt-3 text-center">
        <h2 class="mb-5 fs-1" data-aos="fade-up" data-aos-duration="1000">Tecnologías que utilizamos para el desarrollo de software</h2>
        <div id="carousel" class="carousel slide" data-bs-ride="carousel">
                
            <div class="carousel-inner" data-aos="fade-up" data-aos-duration="1000">
                
                <div class="carousel-item active" data-bs-interval="2000">

                    <div class="row">

                        <div class="col">
                            <img src="assets/tecnologias/html5-logo-sitio-web.webp" class="w-25" alt="html5, sitios web">
                        </div>
                        
                        <div class="col">
                            <img src="assets/tecnologias/css3-logo-sitio-web.webp" class="w-25" alt="css3, sitios web">
                        </div>

                        <div class="col">
                            <img src="assets/tecnologias/javascript-logo-sitio-web.webp" class="w-25" alt="javascript, sitios web">
                        </div>

                    </div>

                </div>

                <div class="carousel-item" data-bs-interval="2000">

                    <div class="row">

                        <div class="col">
                            <img src="assets/tecnologias/android-studio-logo-aplicaciones-android.webp" class="w-25" alt="android studio, aplicaciones moviles android">
                        </div>
                        
                        <div class="col">
                            <img src="assets/tecnologias/xcode-logo-aplicaciones-ios.webp" class="w-25" alt="xcode, aplicaciones moviles ios">
                        </div>

                        <div class="col">
                            <img src="assets/tecnologias/flutter-logo-aplicaciones-moviles.webp" class="w-25" alt="flutter, aplicaciones moviles">
                        </div>

                    </div>

                </div>

                <div class="carousel-item" data-bs-interval="2000">

                    <div class="row">

                        <div class="col">
                            <img src="assets/tecnologias/nodejs-logo-backend.webp" class="w-25" alt="nodejs, backend">
                        </div>
                        
                        <div class="col">
                            <img src="assets/tecnologias/mongodb-logo-base-de-datos.webp" class="w-25" alt="mongodb, base de datos">
                        </div>

                        <div class="col">
                            <img src="assets/tecnologias/digital-ocean-logo-servidor.webp" class="w-25" alt="digital ocean, servidor">
                        </div>

                    </div>

                </div>

                <div class="carousel-item" data-bs-interval="2000">

                    <div class="row">

                        <div class="col">
                            <img src="assets/tecnologias/angular-logo-sitio-web.webp" class="w-25" alt="angular, sitio web">
                        </div>
                        
                        <div class="col">
                            <img src="assets/tecnologias/typescript-logo-sitio-web.webp" class="w-25" alt="typescript, sitio web">
                        </div>

                        <div class="col">
                            <img src="assets/tecnologias/visual-studio-code-logo-editor-de-codigo.webp" class="w-25" alt="visual studio code, editor de codigo">
                        </div>

                    </div>

                </div>

                <div class="carousel-item" data-bs-interval="2000">

                    <div class="row">

                        <div class="col">
                            <img src="assets/tecnologias/git-logo-repositorios.webp" class="w-25" alt="git, repositorio">
                        </div>
                        
                        <div class="col">
                            <img src="assets/tecnologias/github-logo-repositorios.webp" class="w-25" alt="github, repositorios">
                        </div>

                        <div class="col">
                            <img src="assets/tecnologias/postman-logo-backend.webp" class="w-25" alt="postman, backend">
                        </div>

                    </div>

                </div>

                <div class="carousel-item" data-bs-interval="2000">

                    <div class="row">

                        <div class="col">
                            <img src="assets/tecnologias/Stripe-logo-pasarela-de-pagos.webp" class="w-25" alt="stripe, pasarela de pagos">
                        </div>
                        
                        <div class="col">
                            <img src="assets/tecnologias/photoshop-logo-diseño-grafico.webp" class="w-25" alt="photoshop, diseño grafico">
                        </div>

                        <div class="col">
                            <img src="assets/tecnologias/illustrator-logo-diseño-web.webp" class="w-25" alt="illustrator, diseño web">
                        </div>

                    </div>

                </div>

                <div class="carousel-item" data-bs-interval="2000">

                    <div class="row">

                        <div class="col">
                            <img src="assets/tecnologias/google-adwords-logo-seo.webp" class="w-25" alt="google adwords, seo">
                        </div>
                        
                        <div class="col">
                            <img src="assets/tecnologias/google-analytics-logo-seo.webp" class="w-25" alt="google analytics, seo">
                        </div>

                        <div class="col">
                            <img src="assets/tecnologias/google-search-console-logo-seo.webp" class="w-25" alt="google search console, seo">
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>

</div>