<div class="container">

    <div class="row" data-aos="fade-up" data-aos-duration="1000">

        <h1 class="text-center mt-5">OOPS! - 404</h1>
        <h2 class="text-center mt-5">Esta página no existe en nuestro servidor</h2>

    </div>

    <div class="row align-items-center text-center" data-aos="fade-up" data-aos-duration="1000">

        <div class="col-sm">
            <h3 class="my-5">Esperamos que esto no arruine tu experiencia con nosotros, vamos regresemos al inicio...</h3>
            <a type="button" class="btn btn-lg px-4 me-md-2 quitarZoom" routerLink="/">Salgamos de aquí</a>
        </div>

    </div>


</div>