<div id="seo" class="container col-xxl-8 px-4">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5" data-aos="fade-up" data-aos-duration="1000">
      <div class="col">
        <img src="assets/servicios/seo.webp" class="d-block mx-lg-auto img-fluid" alt="seo" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">SEO</h1>
        <p class="lead">Ayudamos a las empresas a mejorar su posicionamiento en los motores de búsqueda y aumentar las conversiones, y nos reunimos regularmente con usted para revisar e informar sobre los resultados.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a type="button" class="btn btn-lg px-4 me-md-2 quitarZoom" routerLink="/servicios/seo">Conoce más</a>
        </div>
      </div>
    </div>
</div>

<div class="container px-4 py-5" id="featured-3">
    
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3" data-aos="fade-up" data-aos-duration="1000">

        <div class="feature col">
          
          <div class="icono-descriptivo bg-azul-imsoft bg-gradient">
            <i class="bi bi-check-circle"></i>
          </div>
          
          <h2>Confianza</h2>
          
          <p>Tus clientes saben que los contenidos ofrecidos en las primeras posiciones son de calidad y esto les otorga una mayor confianza hacia estas páginas web.</p>
          
          <a class="btn btn-primary float-start border-0 quitarZoom" href="https://wa.me/+5213325365558?text=Vengo%20de%20su%20sitio%20web,%20me%20interesa%20conocer%20más%20sobre%20imSoft.">Contáctanos</a>
  
        </div>
  
        <div class="feature col">
          
          <div class="icono-descriptivo bg-azul-imsoft bg-gradient">
            <i class="bi bi-arrow-up-square"></i>
          </div>
          
          <h2>Se líder del mercado</h2>
          
          <p>Mientras mejor sea tu posicion en las páginas de resultados de Google, más cerca estarás de dominar el mercado a través de Internet.</p>
          
          <a class="btn btn-primary float-start border-0 quitarZoom" href="https://wa.me/+5213325365558?text=Vengo%20de%20su%20sitio%20web,%20me%20interesa%20conocer%20más%20sobre%20imSoft.">Contáctanos</a>
  
        </div>
        
        <div class="feature col">
          
          <div class="icono-descriptivo bg-azul-imsoft bg-gradient">
            <i class="bi bi-eye"></i>
          </div>
          
          <h2>Genera más visitas</h2>
          
          <p>En el buscador de Google, se realizan aproximadamente 40.000 búsquedas en Google cada segundo. Es decir: 3.5 billones de consultas diarias.</p>
          
          <a class="btn btn-primary float-start border-0 quitarZoom" href="https://wa.me/+5213325365558?text=Vengo%20de%20su%20sitio%20web,%20me%20interesa%20conocer%20más%20sobre%20imSoft.">Contáctanos</a>
          
        </div>
  
      </div>

      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3" data-aos="fade-up" data-aos-duration="1000">

        <div class="feature col">
          
          <div class="icono-descriptivo bg-azul-imsoft bg-gradient">
            <i class="bi bi-cash-stack"></i>
          </div>
          
          <h2>Aumento de Ventas</h2>
          
          <p>Tus clientes diariamente entran al buscador para satisfacer cada una de sus necesidades, buscando la mejor opción según lo que requieren.</p>
          
          <a class="btn btn-primary float-start border-0 quitarZoom" href="https://wa.me/+5213325365558?text=Vengo%20de%20su%20sitio%20web,%20me%20interesa%20conocer%20más%20sobre%20imSoft.">Contáctanos</a>
  
        </div>
  
        <div class="feature col">
          
          <div class="icono-descriptivo bg-azul-imsoft bg-gradient">
            <i class="bi bi-gear-wide-connected"></i>
          </div>
          
          <h2>Mejora tu web</h2>
          
          <p>Las técnicas están pensadas para mejorar la experiencia de usuario y la calidad de los contenidos, además de mejorar los resultados de tu web en general.</p>
          
          <a class="btn btn-primary float-start border-0 quitarZoom" href="https://wa.me/+5213325365558?text=Vengo%20de%20su%20sitio%20web,%20me%20interesa%20conocer%20más%20sobre%20imSoft.">Contáctanos</a>
  
        </div>
        
        <div class="feature col">
          
          <div class="icono-descriptivo bg-azul-imsoft bg-gradient">
            <i class="bi bi-people"></i>
          </div>
          
          <h2>Trabajemos juntos</h2>
          
          <p>Generemos la mejor estrategia para generar más ventas e interacción con tus clientes, dándoles la atención que se merecen para lograr que regresen.</p>
          
          <a class="btn btn-primary float-start border-0 quitarZoom" href="https://wa.me/+5213325365558?text=Vengo%20de%20su%20sitio%20web,%20me%20interesa%20conocer%20más%20sobre%20imSoft.">Contáctanos</a>
          
        </div>
  
    </div>
</div>

<div class="row mt-3 text-center">
    <h2 class="mb-5 fs-1" data-aos="fade-up" data-aos-duration="1000">Tecnologías que utilizamos para SEO</h2>
    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
            
        <div class="carousel-inner" data-aos="fade-up" data-aos-duration="1000">

            <div class="carousel-item active" data-bs-interval="2000">

                <div class="row">

                    <div class="col">
                        <img src="assets/tecnologias/google-adwords-logo-seo.webp" class="w-25" alt="google adwords, seo">
                    </div>
                    
                    <div class="col">
                        <img src="assets/tecnologias/google-analytics-logo-seo.webp" class="w-25" alt="google analytics, seo">
                    </div>

                    <div class="col">
                        <img src="assets/tecnologias/google-search-console-logo-seo.webp" class="w-25" alt="google search console, seo">
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>