<div class="">

    <div id="desarrolloDeSoftware" class="container col-xxl-8 px-4 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5" data-aos="fade-up" data-aos-duration="1000">
        <div class="col">
          <img src="assets/servicios/desarrollo-de-software.webp" class="d-block mx-lg-auto img-fluid" alt="desarrollo de software" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold lh-1 mb-3">Desarrollo de software</h1>
          <p class="lead">No importa si es una gran empresa o una empresa nueva, un propietario único o una persona que busca mejorar su empresa con software, imSoft tiene las soluciones de diseño y desarrollo de software para usted.</p>
          <p class="lead">imSoft se enorgullece de atender las necesidades de diseño y desarrollo web de los clientes en el área de Guadalajara, Tlaquepaque, Tonalá, Zapopan y toda la republica Mexicana.</p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a type="button" class="btn btn-lg px-4 me-md-2 quitarZoom" routerLink="/servicios/desarrollo-de-software">Conoce más</a>
          </div>
        </div>
      </div>
    </div>
  
    <div class="divider" data-aos="fade-up" data-aos-duration="1000"></div>
  
    <div id="sitioWeb" class="container col-xxl-8 px-4 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5" data-aos="fade-up" data-aos-duration="1000">
        <div class="col">
          <img src="assets/servicios/sitios-web.webp" class="d-block mx-lg-auto img-fluid" alt="sitios web" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold lh-1 mb-3">Sitios web</h1>
          <p class="lead">En imSoft enfocamos nuestros proyectos de diseño y desarrollo web de manera un poco diferente. En lugar de simplemente crear un sitio web y entregar las claves, buscamos exactamente qué ayudará a nuestros clientes y su presencia en la web a tener éxito.</p>
          <p class="lead">Esto incluye discusiones y consultas individuales, investigar lo que ofrecen los competidores de nuestros clientes, estar más en contacto con la industria del cliente y compilar un aspecto atractivo y profesional que sin duda ganará la batalla estética.</p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a type="button" class="btn btn-lg px-4 me-md-2 quitarZoom" routerLink="/servicios/sitios-web">Conoce más</a>
          </div>
        </div>
      </div>
    </div>
  
  <div class="divider" data-aos="fade-up" data-aos-duration="1000"></div>
  
  <div id="aplicacionesWeb" class="container col-xxl-8 px-4 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5" data-aos="fade-up" data-aos-duration="1000">
        <div class="col">
          <img src="assets/servicios/aplicaciones-web.webp" class="d-block mx-lg-auto img-fluid" alt="aplicaciones web" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold lh-1 mb-3">Aplicaciones web</h1>
          <p class="lead">imSoft se encarga del desarrollo web empresarial que se especializa en la creación de soluciones web multinivel de nivel empresarial para satisfacer diversas necesidades corporativas. Desarrollamos portales web empresariales a medida, soluciones de comercio electrónico, aplicaciones B2B y B2C, aplicaciones de software ERP y CRM, informes, facturación y amp; Sistemas de procesamiento de transacciones financieras seguras, etc.</p>
          <p class="lead"> Nuestras soluciones web y de TI para empresas se crean utilizando las últimas tecnologías web y son seguras, sólidas y escalables, lo que ayuda a las empresas a reducir los costos operativos generales y mejorar la eficiencia operativa.</p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a type="button" class="btn btn-lg px-4 me-md-2 quitarZoom" routerLink="/servicios/aplicaciones-web">Conoce más</a>
          </div>
        </div>
      </div>
  </div>
  
  <div class="divider" data-aos="fade-up" data-aos-duration="1000"></div>
  
  <div id="aplicacionesMoviles" class="container col-xxl-8 px-4 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5" data-aos="fade-up" data-aos-duration="1000">
        <div class="col">
          <img src="assets/servicios/aplicaciones-moviles.webp" class="d-block mx-lg-auto img-fluid" alt="aplicaciones moviles" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold lh-1 mb-3">Aplicaciones móviles</h1>
          <p class="lead">Desarrollamos aplicaciones móviles que ayudan a las empresas a mejorar la eficiencia operativa y el compromiso. Contáctenos para brindarle el mejor servicio de desarrollo de aplicaciones multiplataforma, iOS y Android.</p>
          <p class="lead">Enviamos experiencias ricas a las pantallas pequeñas, lo que se traduce en el éxito de su negocio, la facilidad de las operaciones y el compromiso de los consumidores con nuestro conocimiento excepcionalmente profundo de la experiencia del usuario y la tecnología móvil. Trabajamos con múltiples ecosistemas para crear el máximo impacto en sus usuarios finales.</p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a type="button" class="btn btn-lg px-4 me-md-2 quitarZoom" routerLink="/servicios/aplicaciones-moviles">Conoce más</a>
          </div>
        </div>
      </div>
  </div>
  
  <div class="divider" data-aos="fade-up" data-aos-duration="1000"></div>
  
  <div id="tiendaEnLinea" class="container col-xxl-8 px-4 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5" data-aos="fade-up" data-aos-duration="1000">
        <div class="col">
          <img src="assets/servicios/tienda-en-linea.webp" class="d-block mx-lg-auto img-fluid" alt="tienda en linea, ecommerce" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold lh-1 mb-3">Tienda en línea</h1>
          <p class="lead">Creamos hermosas soluciones de comercio electrónico basadas en la web para las mejores experiencias de compra en línea.Nuestros servicios de desarrollo de sitios web de comercio electrónico incluyen diseño web completo de tiendas de comercio electrónico en línea y desarrollo web de comercio electrónico personalizado para pequeñas, medianas y grandes empresas minoristas.</p>
          <p class="lead">Nuestra experiencia en plataformas de comercio electrónico populares como el desarrollo de sitios web de comercio electrónico basado en las mejores tecnologías actuales, nos ha ayudado a ofrecer soluciones web de comercio electrónico de clase mundial con un sólido sistema de gestión de contenido en línea.</p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a type="button" class="btn btn-lg px-4 me-md-2 quitarZoom" routerLink="/servicios/tienda-en-linea">Conoce más</a>
          </div>
        </div>
      </div>
  </div>
  
  <div class="divider" data-aos="fade-up" data-aos-duration="1000"></div>
  
  <div id="seo" class="container col-xxl-8 px-4 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5" data-aos="fade-up" data-aos-duration="1000">
        <div class="col">
          <img src="assets/servicios/seo.webp" class="d-block mx-lg-auto img-fluid" alt="seo" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold lh-1 mb-3">SEO</h1>
          <p class="lead">Ayudamos a las empresas a mejorar su posicionamiento en los motores de búsqueda y aumentar las conversiones, y nos reunimos regularmente con usted para revisar e informar sobre los resultados.</p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a type="button" class="btn btn-lg px-4 me-md-2 quitarZoom" routerLink="/servicios/seo">Conoce más</a>
          </div>
        </div>
      </div>
  </div>
  
  </div>